@model Library.Models.LoanModel

@{
    ViewBag.Title = "Loans";
}

<div class="alert alert-danger" role="alert">

    <div>
        <strong id="Er"> </strong>
        <button type="button" class="close float-end" data-dismiss="alert" aria-label="Close" onclick="hideAllert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>



<div>
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>
</div>

@if (Model.UserId != 0)
{
    <div>
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SurName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SurName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Start)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.End)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.End)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>

    <div class="btn btn-warning">
        @Html.ActionLink("Вернуть книгу", "Return", new { bookId = Model.BookId })

    </div>

}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div>
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.BookId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Отдать" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
}

<div  class="btn btn-info">
    @Html.ActionLink("Вернутся к списку", "Index")
</div>



<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



@section Scripts {
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>

    <script type="text/javascript">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <text>
                $('#Er').text('@ViewBag.Error');
            </text>
        }
        else
        {
            <text>hideAllert();</text>
        }

        function hideAllert()
        {
            $('.alert').hide();
        }
        //$(function () {
        //    $(".datepicker").datepicker({
        //        dateFormat: "mm.dd.yy",
        //        changeMonth: true,
        //        changeYear: true,
        //        minDate: new Date(2023, 10, 10),
        //        showOn: "both",
        //        buttonText: "выбрать"
        //    });
        //});

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}